
	<input type="hidden" name="id" id="id_estoria" />
  <div class="field" style="float: left; width: 100px;">
    <label>Importância</label><br />
    <input type="text" name="estoria[importancia]" id="importancia" style="width: 40px" />
  </div>
  <div class="field" style="float: left; width: 100px;">
    <label>Estimativa</label><br />
    <input type="text" name="estoria[estimativa]" id="estimativa" style="width: 40px" />
  </div>
  <div class="field" style="float: left; width: 250px">
    <label>Status</label><br />
	<div id="status_estoria"></div>
  </div>
  <div class="field" style="float: left; width: 100px">
    <label>Tipo</label><br />
    <select name="estoria[tipo]" id="tipo">
		<option value="1">Funcionalidade</option>
		<option value="2">Bug</option>
		<option value="3">Tarefa Técnica</option>
	</select>
  </div>
  <div class="field" style="width: 500px;">
    <label>Titulo</label><br />
    <input type="text" name="estoria[titulo]" id="titulo1" style="width: 575px;" />
  </div>
  <div class="field">
    <label>Descrição</label><br />
    <textarea name="estoria[descricao]" id="descricao" style="width: 575px; height: 80px;"></textarea>
  </div>
  <div class="field">
    <label>Observações</label><br />
    <textarea name="estoria[observacoes]" id="observacoes" style="width: 575px; height: 80px;"></textarea>
  </div>

	<div id='anexos12'></div>