<div class="field" style="float: left; width: 100px;">
	<label>Nome Portifólio</label><br />
	<input type="text" name="portifolio[nome]" id="nome_novo_portifolio" style="width: 170px" />
</div>

<div class="field" style="float: left; width: 100px;">
	<label>Descrição</label><br />
	<input type="text" name="portifolio[descricao]" id="descricao_novo_portifolio" style="width: 170px" />
</div>
<br /><br /><br /><br /><br /><br />
<div class="actions">
   	<button type="submit">Salvar</button>
	<button id='cancelar_nova_estoria' type='button' onclick='fecha_dialogo_novo_portifolio();'>Cancelar</button>
</div>