<%= stylesheet_link_tag 'redmond/jquery-ui-1.8.2.custom' %>

<div id='menuSuperior' class='direita'>
	<% if user_signed_in? %>
		<%= link_to('Projetos', projetos_path) %> |
		<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
	<% else %>
 		
	<% end %>
</div>
    
<div id='titulo' class='esquerda'>
  <h1>AgileWall</h1>
</div>

<div id='infoContato' class='direita'>
  
</div>

